// 阿里妈妈数黑体
@font-face {
  font-family: "Alimama_ShuHeiTi_Bold";font-weight: 700;src: url("/public/font/Alimama_ShuHeiTi_Bold.woff2") format("woff2"),
  url("/public/font/Alimama_ShuHeiTi_Bold.woff") format("woff");
  font-display: swap;
}
// 阿里妈妈东方大楷
@font-face {
  font-family: "Alimama_DongFangDaKai_Regular";font-weight: 400;src: url("/public/font/Alimama_DongFangDaKai_Regular.woff2") format("woff2"),
  url("/public/font/Alimama_DongFangDaKai_Regular.woff") format("woff");
  font-display: swap;
}
// 站酷高端黑
@font-face {
  font-family: "zcool-gdh_Regular";font-weight: 400;src: url("/public/font/zcool-gdh_Regular.ttf");
  font-display: swap;
}
// 仓耳渔阳体 W01
@font-face {
  font-family: "TsangerYuYangT_W01_W01";font-weight: 400;src: url("/public/font/TsangerYuYangT_W01_W01.ttf");
  font-display: swap;
}
// 仓耳渔阳体 W02
@font-face {
  font-family: "TsangerYuYangT_W02_W02";font-weight: 400;src: url("/public/font/TsangerYuYangT_W02_W02.ttf");
  font-display: swap;
}
// 仓耳渔阳体 W03
@font-face {
  font-family: "TsangerYuYangT_W03_W03";font-weight: 400;src: url("/public/font/TsangerYuYangT_W03_W03.ttf");
  font-display: swap;
}
// 仓耳渔阳体 W04
@font-face {
  font-family: "TsangerYuYangT_W04_W04";font-weight: 400;src: url("/public/font/TsangerYuYangT_W04_W04.ttf");
  font-display: swap;
}
// 仓耳渔阳体 W05
@font-face {
  font-family: "TsangerYuYangT_W05_W05";font-weight: 400;src: url("/public/font/TsangerYuYangT_W05_W05.ttf");
  font-display: swap;
}
// 钉钉进步体
@font-face {
  font-family: "DingTalk_JinBuTi_Regular";font-weight: 400;src: url("/public/font/DingTalk_JinBuTi_Regular.woff2") format("woff2"),
  url("/public/font/DingTalk_JinBuTi_Regular.woff") format("woff");
  font-display: swap;
}